# Configurações do Banco de Dados
DB_HOST=localhost
DB_NAME=tasksmith
DB_USER=root
DB_PASS=

# Configurações da Aplicação
APP_URL=http://localhost/Tasksmith-TCC
APP_ENV=development
APP_DEBUG=true

# Configurações de Email
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=user@example.com
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@example.com
MAIL_FROM_NAME=Tasksmith
