#hdr{
    position: fixed;
    background: linear-gradient(#00060aab, #00060a00);
    z-index: 1;
}

/* HEADER - Logo */

#logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 1.6rem;
    background-image: url(../../images/medieval-elements/frames/rectangle-frame-3-darkbrown.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: fit-content;    
    max-height: 5vh;
    min-height: min-content;
}

#notepad_icon{
    width: 1.5rem;
}

#logo_name{
    font-family: "MedievalSharp", cursive;
    font-size: 1.75rem;
    color: #f2a60dbf;
    padding-inline: 0.2rem;
    white-space: nowrap;
}

#anvil_icon{
    width: 1.8rem;
}

/* HEADER - Menu */

#menu{
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
}

#menu > li{
    padding-inline: 1.1rem;
}

#menu > li > a{
    font-family: "Pirata One", cursive;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    color: #cac9cf;
    padding-inline: 0.4rem;
    background-color: #57535f2d;    
    border-radius: 0.8rem;
}

#nav_menu{
    padding-top: 0.08rem;
    width: 1.2rem;
    height: auto;
    filter: invert(1);
}

/* HEADER - Auth */

#auth{
    display: flex;
    align-items: center;
    padding-top: 0.4rem;
    padding-inline: 1.5rem;
}

#login_btn{
    position: relative;
    z-index: 1;
    font-family: "Pirata One", cursive;
    font-size: 1.3rem;
    letter-spacing: 0.06rem;
    color: #5a2a83;
    filter: brightness(1.2) contrast(1.5);
    padding: 0.1rem;
    padding-inline: 0.4rem;
    background-color: #57535f40;    
    border-radius: 0.8rem;
    white-space: nowrap;
}

/* FOOTER */

#ftr{
    background-color: #8c8796;
    height: 15vh;
}

#ftr > nav > ul > li{
    padding-inline: 2.5rem;
}

/* GERAL */

.no-bg-btn{
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: flex;
}

.nav{
    display: flex;
    align-items: center;
}

.just-between{
    justify-content: space-between;
}

.just-center{
    justify-content: center;
}

/* Para telas menores que 768px */
@media screen and (max-width: 768px) {
    #menu > li > a {
        font-size: 1rem;
    }

    #login_btn {
        font-size: 1.1rem;
    }

    #logo_name {
        font-size: 1.5rem;
    }
}

/* Para telas ainda menores, tipo celular */
@media screen and (max-width: 480px) {
    #menu > li > a {
        font-size: 0.9rem;
        padding-inline: 1rem;
    }

    #login_btn {
        font-size: 1rem;
    }

    #logo_name {
        font-size: 1.25rem;
    }

    #menu > li {
        padding-inline: 1rem;  /* Reduzir o padding entre itens do menu */
    }
}

/* Para telas muito pequenas */
@media screen and (max-width: 360px) {
    #menu > li > a {
        font-size: 0.8rem;
        padding-inline: 0.5rem;
    }

    #login_btn {
        font-size: 0.9rem;
    }

    #logo_name {
        font-size: 1.1rem;
    }

    #menu > li {
        padding-inline: 0.75rem;
    }
}