#logo{
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.no_bg_btn{
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: flex;
}

.home_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}